<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boye.dao.BillItemDao">
    
	<update id="changeReturnStatebyId" parameterType="billItem" timeout="20">
        update bill_item set return_state = #{returnState} where id = #{id} and delete_flag = 0
    </update>
    
    <select id="getAllByReturnState" resultType="billItem">
        select id, create_time, update_time, delete_flag, trade_no as tradeNo, date_key as dateKey, trade_trans_amount as tradeTransAmount, info, app_id as appId, return_state as returnState from bill_item where return_state = #{returnState} and delete_flag = 0
    </select>

</mapper>